ADMIN_SECRET=
AUTH_SECRET=
CRON_SECRET=
KV_REST_API_TOKEN=
KV_REST_API_URL=
RESEND_API_KEY=
RESEND_DEFAULT_TO_EMAIL=
RESEND_FROM_EMAIL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=
VITE_VAPID_PUBLIC_KEY=